@import "~bootstrap/dist/css/bootstrap.css";
.contact-wrapper{
  border: 1px solid rgba(0, 0, 0, 0.192);
  margin:1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  .contact-actions{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;;
  }
}

.contact-actions> *{
  margin:0 1rem;
  
}
.add-contact-wrapper{
 width: 100%;
 
}
.add-contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin:auto
}

.add-contact-form>input{
padding:1rem
}

.form-submit-button {
  margin: 1rem 0;

}
.error__message{
font-size: 0.8rem;
color:red
}
.error{
  border:1px solid red

}

